form{
    margin: auto;
}

.login{
    background-color: rgba(195, 142, 245, 0.365);
    text-align: center;
    border: 5px solid rgb(180, 35, 209);
    border-radius: 10px;
    height: 450px;
    width: 50%;  
    margin: auto; 
}
#img{
    width: 12px;
    height: 12px;
}
#link{
    text-align: justify;
}
#sign{
    height: 30px;
    width: 200px;
}
#btn{
      height: 30px;
    width: 200px;
}
.color{
    color: blue;
}
#pass{
    margin-left: 20px;
}
.input{
    margin-left: 2%;
}
#mail{
    margin-left: 5.5%;
}
#pass{
    margin-left: 1.6%;
}